.parallax-page__skills{
    background-color: #367678;
}

.column-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 40vh;
    width: 40vw;
    margin: 0 0.5rem 0.5rem 0;
    background-color: #459496e9;
}

.column-title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1d3e3fe9;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-bottom: 5px double rgb(234, 234, 112); 
}

.column-title .header{
    color: white;
}
  
.column__sub{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    width: 18rem;
    box-shadow: none !important;
}

.column__sub .header{
    color: #f0feffec;
    text-decoration: 2px rgb(234, 234, 112) underline;
    margin-bottom: 0.5rem;
}
  
.column-item{
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 36vw;
    height: 1rem;
    background-color: #58c5c994;
    border-radius: 0.2rem;
    margin-bottom: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

@media screen and (min-width: 1100px) {
    .column-container{
        flex-direction: row;
    }

    .column{
        height: 40rem;
        width: 20rem;
        margin-right: 2rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .column-item{
        display: flex;
        justify-content: center;
        align-items: center;  
        width: 18rem;
        height: 3rem;
    }

    .column__sub{
        height: 15rem;
        width: 18rem;
        margin: 0 0 2rem 0;
    }
    
}
