@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&family=Signika:wght@300;400;500;600&display=swap');

.App {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.parallax{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.arrow{
  position: absolute;
  left: 5vw;
  top: 8vh;
  transform: rotate(190deg);
}

.parallax-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10vw;
  background-color: #367678;
}

.parallax-sticky{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 2rem;
  width: auto !important;
  display: none;
}

.icon{
  color: white;
  margin: 0 0.5rem 0 0.5rem;
  transform: scale(1.5);
}

.box__name{
  display: flex;
  align-items: center;
  background-color: #4956a2eb;
  border-radius: 0.5rem;
  padding: 3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box__left{
  border-right: 5px double #364078;
}

.icon:hover{
  transform: scale(1.7);
}

.parallax-sticky-nav{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.nav-item{
  background-color: transparent;
  border: none;
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 1.25rem;
  text-align: left;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.parallax-page__landing{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #364078;
  padding-left: 0;
}

.header{
  color: white;
  font-family: 'Signika', sans-serif;
  margin-bottom: 0.25rem;
}

.header__s{
  font-size: 0.8rem;
  text-align: left;
  margin-bottom: 0;
}

.header__m{
  font-size: 0.9rem;
}

.header__l{
  font-size: 2rem;
}

.header__xl{
  font-size: 3rem;
  margin: 0;
}

.header__name{
  font-family: 'Rajdhani', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.header__light{
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

.header__landing-page{
  width: 15rem;
  position: absolute;
  left: 15vw;
  top: 5vh;
  font-weight: 700;
}

.header__left{
  text-align: left;
  text-decoration: underline;
  font-style: italic;
}

.subheader{
  color: rgb(22, 42, 33);
  font-size: 0.7rem;
}

.nav-icon{
  width: 1rem;
  padding-top: 1rem;
}

.nav-item{
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
}

.nav-item:hover{
  transform: rotate(-10deg) scale(1.1);
}

.text{
  color: white;
  font-family: 'Signika', sans-serif;
  width: 80vw;
  text-align: left;
  margin-top: 0;
}

.text__project{
  width: 10rem;
  text-align:left;
}

.image__kevin{
  margin-left: 2rem;
  width: 15rem;
  border-radius: 50%;
  border: 5px solid #3f4c91;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.project-image__mobile{
  width: 10rem;
  border-radius: 1.5rem;
}

.project-image__mobile:hover{
  
}

.landing-page--overlay{
  display: none;
}

@media screen and (min-width: 1100px) {
  .parallax-page__centered{
    flex-direction: row;
  }

  .landing-page--overlay{
    display: inline-flex;
  }

  .parallax-sticky{
    display: inline-flex;
  }

  .header__s{
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  
  .header__m{
    font-size: 1.5rem;
  }
  
  .header__l{
    font-size: 3rem;
  }

  .header__name{
    font-family: 'Rajdhani', sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .subheader{
    color: rgb(22, 42, 33);
    font-size: 1rem;
  }

  .header__xl{
    font-size: 5rem;
  }

  .text{
    color: white;
    font-family: 'Signika', sans-serif;
    width: 40rem;
    text-align: left;
    margin-top: 0;
  }
  .text__project{
    width: 10rem;
    text-align:left;
  }
}